name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-jvm:
    name: Build
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        java:
          - 17
          - 19
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: Cache .gradle/caches
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-cache-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle-cache-
      - name: Gradle env
        run: ./gradlew -version
      - name: Build
        run: ./gradlew build
      - name: Test
        run: ./gradlew test
      - name: Collect reports
        run: ./gradlew copyReportsToParent
        if: always()
      - name: Upload reports
        uses: actions/upload-artifact@v3
        env:
          os_name: ${{ matrix.os }}
          java_version: ${{ matrix.java }}
        if: always()
        with:
          name: reports-${{ env.os_name }}-${{ env.java_version }}
          path: build/reports/*
  build-native:
    name: Build Native
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '20.0.2'
          distribution: 'graalvm-community'
      - name: Gradle env
        run: ./gradlew -version
      - name: Test
        run: ./gradlew nativeTest
      - name: Build binary
        run: ./gradlew nativeCompile
      - name: Statistics
        run: ./ci/stats.sh
      - name: Collect reports
        run: ./gradlew copyReportsToParent
        if: always()
      - name: Upload reports
        uses: actions/upload-artifact@v3
        env:
          os_name: ${{ matrix.os }}
          java_version: ${{ matrix.java }}
        if: always()
        with:
          name: reports-${{ env.os_name }}-${{ env.java_version }}
          path: build/reports/*
